.books--container {
    /* background: linear-gradient(180deg, #f9f5ff, #f8f4ff, #f7f4ff, #f7f3ff, #f6f2ff, #f5f1ff, #f4f1ff, #f3f0ff); */
    height: 500px;
    margin-top: -50px;
    padding-top: 85px;;
    width: 100%;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    margin-top: 0;
    padding: 15px;
    box-shadow:
        0 1.7px 8.3px rgba(0, 0, 0, 0.02),
        0 4.2px 20px rgba(0, 0, 0, 0.028),
        0 7.9px 37.6px rgba(0, 0, 0, 0.035),
        0 14.1px 67px rgba(0, 0, 0, 0.042),
        0 26.3px 125.3px rgba(0, 0, 0, 0.05),
        0 63px 300px rgba(0, 0, 0, 0.07)
    ;
}

.book-card--title {
    font-weight: 900;
    font-size: 1.25em;
    color: #170030;
    margin-bottom: 5px;
}

.book-card--top-row {
    align-self: flex-start;
    margin-bottom: 15px;
}

.book-card--author {
    color: #373539;
}
.book-card--page-count {
    color: #5D5D5D;
    margin-bottom: 5px;
}


.status {
    border: 1px solid lightgray;
    border-radius: 3px;
    color:lightgray;
    margin-right: 5px;
    padding: 2px;
}

.status:hover {
    cursor: pointer;
}

.status--selected {
    color: #4c00bf;
    border-color: #4c00bf;
}

.status--selected:hover {
    cursor: default;
}

/* book card component = {
    div.class='book-card' data-book-id=arrayindex
        div.class='book-card--top-row'
            div.class=book-card--title
            div.class=book-card--author
            div.class=book-card--page-count
            div.class=book-card--read-status
        div.class='book-card--bottom-row'
            div.class=btn
} */