.btn {
    border:0;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    margin:auto;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 1px;
    background: lightgray;
}

.btn-primary {
    background: linear-gradient(180deg, #ffee00, #ffe800, #ffe200, #ffdc00, #ffd600, #ffd100, #ffcb00, #ffc500);
    color: #003abf;
}