.btn {
    border:0;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    margin:auto;
    text-transform: uppercase;
    font-weight: 400;
}

.btn-primary {
    background-color: #FFC500;
    color: #003abf;
}