.form-container {
    background: linear-gradient(360deg, #4c00bf, #4900c0, #4500c0, #4100c1, #3d00c1, #3800c2, #3400c2, #2e00c3);
    box-sizing: border-box;
    border-radius: 0 0 0 25px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding:40px 30px;
    width: 100%;
    color: white;
}

.form--label-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.form--label {
    
}

.form--input-text {
    height: 25px;
    border: 0;
    border-bottom: 1px solid #F6F9FF;
    border-radius: 3px;
    background-color: transparent;
}